<html>
    <head>
        <title>FORGOTTEN PASSWORD</title>

        <style>
            body{
                background-color:aliceblue;
            }
            
        </style>
    </head>
    <body>
        <form method="GET" action="forgotpassword">
            <table style="margin-top: 200px;" align="center">
            
                <tr>
                    <th>
                        <h1><i> Forgotten Password </i> </h1>
                    </th>
                </tr>
                <tr>
                    <td ><h1>Forgotten your password? Enter your email address below to begin the reset process</h1></td>
                </tr>
                        
                        <tr align="center">
                            <td ><b>Email Address :</b></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                        
                        <tr align="center">
                            <td><input type="text" name="email" value="femail" placeholder="Enter email" size="30"></td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                        
                        <tr align="center">
                            <td  id="button"><button type="submit" value="submit" style="background-color:skyblue ; ">Submit</button></td>
                        </tr>
            </table>
        </form>
    </body>
</html>