<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-eqvia="X-UA-Compitable" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LOGIN FORM</title>
    </head>
    <style>
      *{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      body{
          background-color: aliceblue;
      }
 
      #ww{
             background-color: rgb(17, 119, 214);  
             color: aliceblue;
             width: 400;
             height: 40; 
            }
        #ss{
            background-color: rgb(26, 123, 241);
            color: white;  
             width: 400;
             height: 40; 
        }
      
      
  </style>
    <body>
        
        <div style="float: left;">
            <img style=" margin-top: 10px;"height="700px" width="800px" src="image.jpg" >
        </div>
        <div style="float: right;">
            <br><br><br>
            <h1>TEMPERATURE CONVERSION HOMEPAGE &nbsp;&nbsp;  </h1><br><br><br>
            <center><p>if you want to register please sign up here</p></center><br>
             <a href="http://localhost:1000/signup" >
             <center><button type="button" onclick=" signup "  id="ss" ><h3>sign up</h3></button></center></a>
             <center><h3>(or)</h3></center>
             
            <center><p>If you want to login your account. login here</p></center><br>
            <a href="http://localhost:1000/login">
            <center><button  type="button" onclick="login"  id="ww" ><h3>&nbsp;login &nbsp; </h3></button></center></a>
            <br>

             
          
        </div>
    </body>
</html>




