<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-eqvia="X-UA-Compitable" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MAIN PAGE</title>
    </head>
    <style>
      *{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      body{
          background-color: aliceblue;
      }

      .in{
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: large;
          padding-left: 10px;
          border-radius: 5px;
          border-color: darkgray;
      }
      #but{
          background-color: #44AC33;
          border: 0;
          color: whitesmoke;
          font-size: 18px;
          padding-left: 130px;
          padding-right: 130px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 5px;
      }
      #sign{
          text-align: center;
      }
      #ss{
        height: 25px;
        
      }
  </style>
    <body>
        <h1 align="center">HEY, WELCOME TO TEMPERATURE CONVERSION PAGE</h1><br>
        
        <div style="float: left;">
            <img height="650px" width="800px" src="./image.jpg" >
        </div>
        <div style="float: right;">
          <form method="GET" action="gettmp">
            <table style="align-items: right; margin-top: 150px; margin-right: 200px;margin-left: 20px;border-style:hidden; border-color: whitesmoke;" id = 'tab' cellpadding = 20 >
                <tr>
                    <td>
                        <label for="scale1">Choose a temperature scale:</label>
                        <select name="scale" id="scale1">
                          <option value="celsius">Celsius</option>
                          <option value="fahrenheit">Fahrenheit</option>
                          <option value="kelvin">Kelvin</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="ss" type="text" name="tmp"  placeholder="Enter TEMPERATURE" size="30"  id="in"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="but">

                    </td>
                </tr>    
            </table>
            </form>
        </div>
    </body>
</html>