<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-eqvia="X-UA-Compitable" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SIGN UP FORM</title>
    </head>
    <style>
      *{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      body{
          background-color: aliceblue;
      }
      #txt1{
          color:orange ;
          background-color: #055BB5;
          padding-top: 25px;
          padding-bottom: 10px;
          font-size: 20px;
          word-spacing: 0px;
          font-weight: 500;
          text-align: center;
      }

      .in{
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: large;
          padding-left: 10px;
          border-radius: 5px;
          border-color: darkgray;
      }
      #but{
          background-color: #44AC33;
          border: 0;
          color: whitesmoke;
          font-size: 18px;
          padding-left: 130px;
          padding-right: 130px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 5px;
      }
      #sign{
          text-align: center;
      }
      
  </style>
    <body>
        
        <div style="float: left;">
            <img style=" margin-top: 10px;"height="700px" width="800px" src="image.jpg" >
        </div>
        <div style="float: right;">
          <form method="GET" action="signupsubmit">
            <table style="align-items: right; margin-top: 100px; margin-right: 200px;margin-left: 20px;border-style:hidden; border-color: whitesmoke;" id = 'tab' cellpadding = 20 >
                <tr>
                    <td id = 'txt1'>
                        <p>Sign up </p>
                    </td>
                </tr>
                <tr >
                    <td>
                        <br>
                        <input type = 'text' name="sfullname" size = 30 placeholder="Enter your Name" class = 'in'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type = 'email' name="semail" placeholder="Enter your email" size = 30 class = 'in'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="spassword" placeholder="Enter your password" size = 30 class="in">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" id="repeatpasword" name="srpassword" placeholder="Conform password" size = 30 class="in">
                    </td>
                </tr>
                
                <tr>
                    <td id = 'sign'>
                        <button type="submit"  value = 'Sign up' id = 'but'>Sign up</button>
                    </td>
                </tr>
                
            </table>
            </form>

        </div>
    </body>
</html>