<html>
    <head>
        <style>
            h1{
                color: rgb(208, 17, 176);
            }
            h2{
                color: black;
            }
            body{
                background-color:aliceblue;
            }
            #ww{
             background-color: rgb(17, 119, 214);  
             color: aliceblue;
             width: 250;
             height: 50; 
            }
        </style>
        <title>Success in sign in</title>

    </head>
    <body style="margin-top: 250px;">
        <h1 align="center">Sign up Successfully</h1><br>
        <h2 align="center"> Now login into your account and get movie details which movie you want</h2><br>

        <a href="http://localhost:1000/login">
            <center><button  type="button" onclick="login" id="ww" ><h3>login </h3></button></center></a>
    </body>
</html>