<html>
    <head>
        <style>
            
            body{
                background-color: aliceblue;
            }
        </style>

    </head>
    <body style="margin-top: 250px;">
        
        
        <center><h1>Incorrect email address or password. Please try again</h1>
               <br> <br><a href="http://localhost:1000/login"><h2>log in </h2></a> </h2>
        </center>
    </body>
</html>